@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
  background-color: #101010;
  box-sizing: border-box;
}

hr {
  margin-block: 2rem;
  border-color: gray;
}

.flex {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
  padding: 0;
}
